
.courses-details{
    margin: 4% 7%;
}
.courses-details div{
    padding: 2% 2%;
}
.courses-details h4{
    font-weight:bold;
}
.courses-details p{
    color: #1f1b1b;
}
.courses-details h3{
    font-weight:bold;
}






