body {
    background-color: #f0f0f0; /* Background color */
    background-image: linear-gradient(to bottom right, #ffcccc, #cc99ff); /* Background image with gradient overlay */
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 30px;
    
    font-weight: bold;
    color: #333; /* Choose color according to background */
  }
  
  p {
    font-size: 15px;
    color: #666; /* Choose color according to background */
    line-height: 1.5; /* Increase line spacing */
  }
  
  em {
    font-style: italic; /* Highlight important words */
    font-weight: bold;
  }
  
  h2 {
    font-size: 20px;
    color: #333; /* Choose color according to background */
  }
  